@page
@model Bookify.Web.Areas.Identity.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Đăng Xuất";
}

<h2>Bạn đã đăng xuất thành công.</h2>
<meta http-equiv="refresh" content="1;url=/Home/Index" />
